.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.home-main {
  border-top: solid 1px black;
  display: flex;
  align-items: stretch;
  height: 100%;
  max-height: 100%;
}

.home-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  vertical-align: -100px;
}

.logout {
  width: 180px;
  padding-top: 10px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
  height: 20px;
}

.logout-style {
  display: flex;
  margin-left: 8px;
}

.sidebar {
  flex-shrink: 0;
  background: rgb(247, 246, 243);
  color: rgba(55, 53, 47, 0.6);
  height: 100vh;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.category{
  display: flex;
  height: 27px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sidebar_button {
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 15px;
}

.sidebar_button_open {
  left: 200px;
}

.sidebar_button_close {
  margin-left: 0px ;
}

.sidebar-flame {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar-before-list {
  height: 105px;
}

.list-flame {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  height: calc(100vh - 150px);
}

.list-block {
  display: flex;
  margin-top: 7px;
  width: 230px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.list {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
  margin-left: 7px;
}

.add-a-page {
  height: 27px;
}

.list-block:hover {
  background-color: #D3D1CB;
}



.new-note {
  margin-top: 10px;
  cursor: pointer;
}

.new-note-button {
  cursor: pointer;
  background-color: rgb(21, 157, 21);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.sidebar-bottom {
  width: 240px;
  height: 45px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 5px;
  box-shadow: rgb(55 53 47 / 9%) 0px -1px 0px;
}

.sidebar-bottom-new-page {
  background: rgb(247, 246, 243);
  align-items: center;
  height: 45px;
  display: flex;
  padding-right: 14px;
  padding-left: 17px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: rgba(55, 53, 47, 0.6);
  bottom: 0px;
}

.note {
  display: flex;
  background: white;
  flex-direction:column;
  /* width: calc(100vw - 240px); */
  height: 100%;
  overflow: hidden;
}

.note-bar {
  height: 35px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.bar-title {
  margin-left: 5%;
  width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.note-field {
  /* overflow: auto; */
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  max-height: 100%;
  height:  calc(100vh - 45px);
  /* max-width: 100%; */
  flex-direction: column;
}

.title-field {
  height: 100px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  
}

.title-input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 40px;
  margin-top: 60px;
  font-weight: bold;
}

.text-field {
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
}

.text-block {
  width: 100% ;
  display: flex;
  margin-top: 10px;
  /* word-wrap: break-all;  */
}

.text_button {
  margin-left: -20px;
  margin-right: 10px;
  margin-top: 3px;
  /* position: fixed; */
  color: rgba(55, 53, 47, 0.6);;
}

.menu-for-header1Text {
  margin-top: 41px;
}
.menu-for-header2Text {
  margin-top: 26px;
}
.menu-for-header3Text {
  margin-top: 17px;
}

.text-input {
  
  width: 100% ;
  word-break:break-word;
  overflow-wrap: break-word;
  outline: none;
  border: none;
}

.text-input:empty:before {
  content: attr(data-placeholder);
  color: rgba(55, 53, 47, 0.6);;
}

.header1Text {
  font-size: 30px;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 4px;
}

.header2Text {
  font-size: 25px;
  font-weight: bold;
  margin-top: 17px;
  margin-bottom: 1px;
}

.header3Text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 1px;
}

.divText {
  font-size: 17px;
}

.todo {
  font-size: 17px;
}

.bullet {
  font-size: 17px;
}

.todo-done {
  font-size: 17px;
  text-decoration: line-through;
  color: rgb(75, 72, 64);
}

.todo-checkbox {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: -5px;
  width: 20px;
  flex-shrink: 0;
}

.menu_block {
  margin-left: auto;
  margin-right: 10px;
}

.button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.button-sidebar {
  margin-right: 5px;
  margin-top: 2px;
  font-size: 18px;
}

.button-note-bar {
  font-size: 25px;
  margin-top: 0px;
  margin-left: auto;
}

.menu-sidebar {
  position: fixed; 
  height: 150px;
}

.menu-note-bar {
  height: 120px;
  position: fixed; right: 20px;
}

.menu {
  width: 180px;
  background-color: white;
  outline: none;
  box-shadow: 2px 2px 4px gray;
  border-radius: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  
}

.menu-content {
  margin-top: 12px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.menu-content-icon {
  font-size: 17px;
}

.menu-content-text {
  margin-left: 8px;
  padding-right: 25px;
}

.content-side-menu {
  height: 130px;
  position: fixed;
}

.header{
  font-size: 10px;
}

.rename {
  position: absolute;
  outline: none;
}

.turn_into {
  margin-left: 155px;
  height: 230px;
  position: fixed;
}
.select_style {
  margin-left: 155px;
  height: 230px;
  position: fixed;
}

.not-found {
  margin-top: 30%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.nonDisplay {
  visibility: hidden;
}

.selected {
  background-color: #D3D1CB;
}

.hover-gray:hover {
  background-color: #D3D1CB;
}

.arrow {
    color: rgba(55, 53, 47, 0.6);
    margin-left: auto;
    margin-right: 10px;
}
