.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.home-main {
  border-top: solid 1px black;
  display: flex;
  align-items: stretch;
  height: 100%;
  max-height: 100%;
}

.home-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  vertical-align: -100px;
}


.not-found {
  margin-top: 30%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.nonDisplay {
  visibility: hidden;
}

.selected {
  background-color: #D3D1CB;
}

.hover-gray:hover {
  background-color: #D3D1CB;
}

.arrow {
    color: rgba(55, 53, 47, 0.6);
    margin-left: auto;
    margin-right: 10px;
}

.drop-up {
  margin-top: -150px;
}
