.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  /* margin-top: 10px; */
    /* background: rgb(247, 246, 243); */
}

.home-main {
  border-top: solid 1px black;
  display: flex;
  /* flex-direction:column;s */
  align-items: stretch;
  height: 100%;
  max-height: 100%;
  /* height: 100%; */
  /* flex-grow: 0; */
  /* text-align: center; */
}
.HomeHeader {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  vertical-align: -100px;
  /* text-align: 100px; */
  /* line-height: 30%; */
  /* margin-top: 10px; */
}


.logout {
  /* margin-left: auto; */
  /* border: none; */
  /* background-color: white; */
  width: 180px;
  padding-top: 10px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
  height: 20px;
  /* flex-direction: column; */
}

.logout-style {
  display: flex;
  margin-left: 8px;

}

.category{
  display: flex;
  height: 27px;
  margin-top: 10px;
  color: rgba(55, 53, 47, 0.4);
  margin-bottom: 20px;
}

.sidebarButton {
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 15px;
}

.sidebarButtonOpen {
  left: 200px
}

/* .sidebarButtonOpen:hover {
  background-color: #e7e709;
} */

.sidebarButtonClose {
  margin-left: 0px ;
}


.sidebar {
  flex-shrink: 0;
  background: rgb(247, 246, 243);
  height: 100vh;
  font-size: 14px;
}
.true {
  width: 240px; 
}

.false {
  width: 0px;
}

.sidebar-flame {
  margin-left: 10px;
}
.List_Block {
  display: flex;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}
.list {
  width: 200px;
  margin-left: 5px;
  
}
.List_Block:hover {
  /* background-color: rgba(45, 170, 219, 0.3); */
  background-color: #D3D1CB;
}



/* .newNote {
  margin-top: 5px;
} */

.newNoteButton {
  background-color: rgb(21, 157, 21);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  /* border: none; */
}

.Note {
  display: flex;
  background: white;
  flex-direction:column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.noteBar {
  height: 45px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  align-items: center;
  
}
.noteField {
  overflow: auto;
  display: flex;
  max-height: 100%;
  height:  calc(100vh - 45px);
  flex-direction: column;
  /* height: 100%; */
}

.barTitle {
  margin-left: 5%;
}

.titleField {
  height: 100px;
}

.titleInput {
  outline: none;
  border: none;
  font-size: 40px;
  margin-top: 60px;
  font-weight: bold;
  margin-left: 10%;
  /* padding-top: auto; */
  /* line-height: 100px; */
}

.textBlock {
  margin-left: 10%;
  display: flex;
  /* align-items: center; */
  /* vertical-align: middle; */
  /* flex-direction: column; */
  margin-top: 20px;
}
.textButton {
  /* text-align: center; */
  margin-left: -30px;
  margin-right: 13px;
}

.menu-for-divText {
  margin-top: 3px;
}

.menu-for-headerText {
  margin-top: 14px;
}

.textInput {
  outline: none;
  border: none;
  width: 100%;
  /* margin-left: 0px; */
  /* height: 100%; */
}

.headerText {
  font-size: 30px;
}

.divText {
  font-size: 18px;
}

.selectButton {
  margin-left: auto;
}

.menuBlock {
  margin-left: auto;
  margin-right: 0px;
  /* background: rgb(247, 246, 243); */
}
.menuBlock:hover {
  background-color: #D3D1CB;
}

.button {
  /* padding-left: 50px; */
  outline: none;
  cursor: pointer;
  border: none;
  /* background: rgb(247, 246, 243); */
  background-color: transparent;
  /* width: 30px; */
}

.buttonSideBar {
  margin-right: 5px;
  margin-top: 2px;
  font-size: 18px;
}

.buttonNoteBar {
  font-size: 25px;
  margin-top: 0px;
}

.menuSideBar {
  position: fixed; 
  /* position: absolute; */
  /* margin-left: auto; */
  /* margin-right: 100px; */
}


.menuNoteBar {
  position: fixed; right: 0px;
  /* position: absolute; */
  /* margin-left: auto; */
  /* margin-right: 100px; */
}

.menu {
  width: 220px;
  height: 246px;
  background-color: white;
  /* border-color: black; */
  /* border: 1px solid; */
  box-shadow: 2px 2px 4px gray;
  border-radius: 2px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  
}

.menuContent {
  margin-top: 12px;
  margin-left: 25px;
  display: flex;
  cursor: pointer;
}
.menuContent:hover {
  background-color: #D3D1CB;
}

.menuContentIcon {
  
}

.menuContentText {
  margin-left: 8px;
}

.contentSideMenu {
  /* position: absolute; */
  position: fixed;
}




.header{
  font-size: 10px;
}

.sidebar-bottom-new-page {
  background: rgb(247, 246, 243);
  width: 240px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  padding-right: 100px;
  color: rgba(55, 53, 47, 0.6);
  /* margin-top: auto; */
  position: absolute; 
  bottom: 0px;
  border: none;
  /* border-top: 1px solid black; */
  box-shadow: rgb(55 53 47 / 9%) 0px -1px 0px;
}

.turnInto {
  margin-left: auto;
  position: fixed;
}


.NotFound {
  /* margin-right: auto; */;
  margin-top: 40%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.nonDisplay {
  /* display: none; */
  visibility: hidden;
}

.hover-gray:hover {
  background-color: #D3D1CB;
}


@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  
}
