.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  margin-top: 10px;
  /* background: rgb(247, 246, 243); */
}

.Home_main {
  border-top: solid 1px black;
  display: flex;
  /* flex-direction:column;s */
  align-items: stretch;
  height: 100vh;
  max-height: 100%;
  /* height: 100%; */
  /* flex-grow: 0; */
  /* text-align: center; */
}
.HomeHeader {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  vertical-align: -100px;
  /* text-align: 100px; */
  /* line-height: 30%; */
  /* margin-top: 10px; */
}
.Heme_logout {
  /* margin-left: auto; */
  margin-right: auto;
  margin-top: -10px;
  border: none;
  background-color: white;
  font-weight: bold;
}

.category{
  display: flex;
  height: 27px;
  margin-top: 10px;
  /* color: rgba( 255, 255, 255, 0.2); */
  color: rgba(55, 53, 47, 0.4);
  margin-bottom: 20px;
  /* color: black; */
}

.sidebarButton {
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.sidebarButtonOpen {
  margin-left: auto;
  margin-right: 10px;
}

.sidebarButtonClose {
  margin-left: 0px ; position: absolute; 
}


.Sidebar {
  flex-shrink: 0;
  background: rgb(247, 246, 243);
  height: 100%;
  font-size: 14px;
  margin-left: 10px;
}
.true {
  width: 240px; 
}

.false {
  width: 0px;
}
.List_Block {
  display: flex;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}
.list {
  width: 200px;
  margin-left: 5px;
  
}
.List_Block:hover {
  /* background-color: rgba(45, 170, 219, 0.3); */
  background-color: #D3D1CB;
}



/* .newNote {
  margin-top: 5px;
} */

.newNoteButton {
  background-color: rgb(21, 157, 21);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  /* border: none; */
}

.Note {
  display: block;
  background: white;
  /* flex-direction:column; */
  width: 100%;
  height: 100%;
}

.noteBar {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  align-items: center;
  
}

.barTitle {
  margin-left: 5%;
}

.titleField {
  height: 100px;
}

.titleInput {
  outline: none;
  border: none;
  font-size: 40px;
  margin-top: 60px;
  font-weight: bold;
  margin-left: 10%;
  /* padding-top: auto; */
  /* line-height: 100px; */
}

.textBlock {
  margin-left: 10%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  margin-top: 20px;
}
.textButton {
  /* text-align: center; */
  margin-top: 3px;
  margin-left: -30px;
  margin-right: 13px;
}

.textInput {
  outline: none;
  border: none;
  width: 100%;
  /* margin-left: 0px; */
  /* height: 100%; */
}

.headerText {
  font-size: 25px;
}

.divText {
  font-size: 15px;
}

.selectButton {
  margin-left: auto;
}

.menuBlock {
  margin-left: auto;
  margin-right: 0px;
  /* background: rgb(247, 246, 243); */
}
.menuBlock:hover {
  background-color: #D3D1CB;
}

.button {
  /* padding-left: 50px; */
  outline: none;
  cursor: pointer;
  border: none;
  /* background: rgb(247, 246, 243); */
  background-color: transparent;
  /* width: 30px; */
}

.buttonSideBar {
  margin-right: 5px;
  margin-top: 2px;
  font-size: 18px;
}

.buttonNoteBar {
  font-size: 25px;
  margin-top: 0px;
}

.menuSideBar {
  position: fixed; 
  /* position: absolute; */
  /* margin-left: auto; */
  /* margin-right: 100px; */
}


.menuNoteBar {
  position: fixed; right: 0px;
  /* position: absolute; */
  /* margin-left: auto; */
  /* margin-right: 100px; */
}

.menu {
  width: 220px;
  height: 246px;
  background-color: white;
  /* border-color: black; */
  /* border: 1px solid; */
  box-shadow: 2px 2px 4px gray;
  border-radius: 2px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  
}

.menuContent {
  margin-top: 12px;
  margin-left: 25px;
  display: flex;
}

.menuContentIcon {
  
}

.menuContentText {
  margin-left: 8px;
}




.header{
  font-size: 10px;
}

.Home_newpage {
  background: rgb(247, 246, 243);
  width: 240px;
  padding-left: 30px;
  text-align: left;
}


.NotFound {
  /* margin-right: auto; */;
  margin-top: 40%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.nonDisplay {
  /* display: none; */
  visibility: hidden;
}


@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {

}
