.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.Home_main {
  display: flex;
  /* flex-direction:column;s */
  align-items: stretch;
  height: 100vh;
  max-height: 100%;
  /* height: 100%; */
  /* flex-grow: 0; */
  /* text-align: center; */
}
.Home_header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.Heme_logout {
  /* margin-left: auto; */
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.List {
  width: 240px;
  flex-shrink: 0;
  background: rgb(247, 246, 243);
  height: 100%;
}

.List_Block {
  display: flex;
  
}

.button {
  /* padding-left: 50px; */
  margin-left: auto;
  /* width: 30px; */
}


.contents {
  display: block;
  /* flex-direction:column; */
  width: 100%;
  height: 100%;
  padding-left: 20%;
}

.header{
  font-size: 10px;
}

.Home_newpage {
  background: rgb(247, 246, 243);
  width: 240px;
  padding-left: 30px;
  text-align: left;
}


@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
